
@font-face {
font-family: selawk;
src: url(fonts/selawk.ttf);
}
body {
    background-color: #FFF;
    font-family: selawk, Helvetica, Arial, sans-serif;
}
header .logo {
    padding: 14px 16px;
}
header .logo img {
    height: 31px;
}
header .message {
    text-align: center;
    background-color: #008785;
}
header .message a {
    color: #FFF;
    line-height: 45px;
}

header .message img {
    vertical-align: middle;
    width: 20px;
    padding: 2px 0;
}
.content {
    text-align: center;
    padding: 40px 0;
}
a {
    text-decoration: none;
    color: #008785;  
}
button {
    padding: 9px 12px 10px;
    background-color: #008785;  
    color: #FFF;
    font-weight: 400;
    min-width: 120px;
    line-height: 1;
    border: 1px solid transparent;
    margin: 12px auto;
    text-align: center;
    display: block;
    white-space: nowrap;
    border-radius: 0;
    touch-action: manipulation;
    cursor: pointer;
}